<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StuHub</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1><i class="fas fa-comment-dots"></i> Campus Whisper</h1>
            <nav>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('profile') }}">Profile</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Campus Whisper. All rights reserved.
                StuHub is an anonymous user-driven platform. We do not take responsibility for content posted by users. <br> Any illegal content brought to our notice will be removed.
            
            </p>
        </div>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>
